*{margin:0;padding:0;box-sizing:border-box;}
body {
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	min-height:100vh;
}
#homebackgroundimage {
	background: url(../images/homepage_image.jpg) no-repeat bottom;
	background-size:cover;
}
#aboutbackgroundimage {
	background: url(../images/about_invite_2.jpg) no-repeat bottom;
	background-size:cover;
}
#contactbackgroundimage {
	background: url(../images/contact_image_1.jpg) no-repeat bottom;
	background-size:cover;
}
h1 {
	font-weight: 300;
	font-size: 52px;
	line-height: 1.15em;
}
h2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 3em;
	text-transform: uppercase;
	color: #00A79D;
}
h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: 2em;
	text-transform: uppercase;
	color: #00A79D;
}
h4 {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.15em;
	margin: 1.5em 0em 1.5em 0em;;
}
p {
	font-size: 16px;
	line-height: 1.5em;
	margin: 1.5em 0em 1.5em 0em;
}
nav {
	padding:1em;
}
nav ul {
	max-width:75em;
	margin:auto;
}
nav li {
	float:left;
	text-align:center;
	width:20%;
}
nav a {
	padding:2em;
}
a {
	color: #00A79D;
}

#portfoliotext {
	font-weight: 700;
}
#splash {
	margin:5em auto 5em auto;
	width:425px;
	background-color: #fff;
	padding: 1.5em;
	opacity: 0.8;
}
#about {
	margin:5em auto 5em auto;
	width:480px;
	background-color: #fff;
	padding: 1.5em;
	opacity: 0.8;
}
#portfolio>div {
	float:left;
	line-height:0;
	overflow:hidden;
	padding:.1em;
	position:relative;
	width:33.33%;
}
#portfolio img {
	width:100%;
}
.overlay {
	background-color:rgba(0,150,136,0);
	color:rgba(255,255,255,0);
	padding:2em;
	position:absolute;
	top:25%;
	left:0;
	right:0;
}
#portfolio div:hover .overlay {
	background-color:rgba(0,150,136,1);
	color:rgba(255,255,255,1);
}
.overlay {
	background-color:rgba(0,150,136,0);
	color:rgba(255,255,255,0);
	padding:2em;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#portfolio div:hover .overlay {
	background-color:rgba(0,150,136,.8);
	color:rgba(255,255,255,.8);
}

footer {
	text-align: right;
	position: absolute;
	bottom: 2em;
	right: 2em;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
