*{margin:0;padding:0;box-sizing:border-box;
}
body {
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	min-height:100vh;
}
#homebackgroundimage {
	background: url(../images/homepage_image.jpg) no-repeat left bottom;
	background-size:cover;
	height: 100%;
}
#aboutbackgroundimage {
	background: url(../images/about_invite_2.jpg) no-repeat left bottom;
	background-size:cover;
	height: 100%;
}
#contactbackgroundimage {
	background: url(../images/contact_image_1.jpg) no-repeat left bottom;
	background-size:cover;
	height: 100%;
}
h1 {
	font-weight: 300;
	font-size: 52px;
	line-height: 1.15em;
}
h2 {
	font-weight: 400;
	font-size: 25px;
	line-height: 1.15em;
	text-align: center;
}
h3 {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.15em;
	text-align: left;
	color: #00A79D;
}
p {
	font-size: 16px;
	line-height: 1.5em;
	margin: 1.5em 0em 1.5em 0em;
}
nav {
	padding:1em;
}
nav ul {
	max-width:75em;
	margin:auto;
}
nav li {
	float:left;
	text-align:center;
	width:20%;
}
nav a {
	padding:2em;
}
a {
	color: #00A79D;
}

#portfoliotext {
	font-weight: 700;
}
#splash {
	margin:5em auto 5em auto;
	width:425px;
	background-color: #fff;
	padding: 1.5em;
	opacity: 0.8;
}
#about {
	margin:5em auto 5em auto;
	width:480px;
	background-color: #fff;
	padding: 1.5em;
	opacity: 0.8;
}
#portfolio>div {
	float:left;
	line-height:0;
	overflow:hidden;
	padding:.5em;
	position:relative;
	width:33.33%;
}
#portfolio img {
	width:100%;
}
.overlay {
	background-color:rgba(0,150,136,0);
	color:rgba(255,255,255,0);
	padding:2em;
	position:absolute;
	top:15%;
	left:0;
	right:0;
	margin:.5em;
}
#portfolio div:hover .overlay {
	background-color:rgba(0,150,136,.8);
	color:rgba(255,255,255,.8);
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#worktext {
	float:left;
	width: 40%;
	padding: 2em;
}
#workimages>div {
	float:right;
	padding: 1.5em;
	width: 55%;
}
#workimages img {
	width: 100%;
}
.socialmedia {
	float: left;
	width: 20%;
	padding: 2em auto;
}
a.cta1 {
	border-bottom: .4em #00A79D solid;
	border-radius:.2em;
	display: inline-block;
	color: #000;
	font-weight: 400;
	padding-bottom: .5em;
	margin: 2em auto;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
a.cta1:hover {
	border-bottom: .4em #000 solid;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
a.cta2 {
	border-bottom: .4em #00A79D solid;
	border-radius:.2em;
	display: inline-block;
	color: #000;
	font-weight: 400;
	padding-bottom: .5em;
	margin: 2em auto;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
a.cta2:hover {
	border-bottom: .4em #000 solid;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
footer {
	text-align: right;
	position: absolute;
	bottom: 2em;
	right: 2em;
	font-size: 4.,px;
	color: #ccc;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

@media only screen and (max-width: 900px) {
	#portfolio>div {
	width:50%;
	}
	.overlay {
	background-color:rgba(0,150,136,.8);
	color:rgba(255,255,255,.8);
	}
	h2 {
	font-size: 20px;
	}
	#workimages>div {
	float:none;
	padding: 2em;
	width: 100%;
	}
	#worktext {
	float:left;
	width: 400px;
	padding: 2em;
	}
}
@media only screen and (max-width: 640px) {
	#portfolio>div {
	float: none;
	width:90%;
	margin: 1.5em;
	}
	nav a {
	padding: 1.5em;
	}
	h2 {
	font-size: 20px;
	}
}
@media only screen and (max-width: 530px) {
	nav a:first-child {
	display: block;
	width: 100%;
	padding: 1.5em;
	text-align: center;
	margin: .5em auto;
	}
	nav a {
	width: 25%;
	display: block;
	float: left;
	text-align: center;
	padding: .5em;
	}
	h1 {
	font-weight: 300;
	font-size: 45px;
	line-height: 1.15em;
	}
	h2 {
	font-size: 18px;
	}
	a.cta1 {
	display: block;
	width: 27%;
	text-align: center;
	}
	#homebackgroundimage {
	background: none;	
	}
	#splash {
	margin:1em auto 1em auto;
	width:380px;
	padding: 1.5em;
	}
	#aboutbackgroundimage {
	background: none;
	}
	#contactbackgroundimage {
	background: none;
	}
	#about {
	margin:2em auto 2em auto;
	width:380px;
	padding: 1.5em;
	}
	footer {
	text-align: center;
	width: 100%;
	float: left;
	display: block;
	font-size: 4px;
	position: relative;
	}
}
