*{margin:0;padding:0;box-sizing:border-box;}
body {
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	background-size:cover;
	min-height:100vh;
}
#homebackgroundimage {
	background: url(../images/homepage_image.jpg) no-repeat bottom;
}
#aboutbackgroundimage {
	background: url(../images/about_invite_2.jpg) no-repeat bottom;
}
#contactbackgroundimage {
	background: url(../images/contact_image_1.jpg) no-repeat bottom;
}
h1 {
	font-weight: 300;
	font-size: 52px;
	line-height: 1.15em;
}
h2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 3em;
	text-transform: uppercase;
	color: #00A79D;
}
h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: 2em;
	text-transform: uppercase;
	color: #00A79D;
}
p {
	font-size: 15px;
	line-height: 1.5em;
}
nav {
	padding:1em;
}
nav ul {
	max-width:75em;
	margin:auto;
}
nav li {
	float:left;
	text-align:center;
	width:20%;
}
nav a {
	padding:2em;
}
a {
	color: #00A79D;
}

#portfolio {
	font-weight: 700;
}
#splash {
	margin:5em auto 5em auto;
	width:425px;
	background-color: #fff;
	padding: 1.5em;
	opacity: 0.8;
}
#about {
	margin:5em auto 5em auto;
	width:480px;
	background-color: #fff;
	padding: 1.5em;
	opacity: 0.8;
}
li {
	float: left;
	text-align: center;
	width: 33.33%;
	padding: 2em 0em 2em 0em;
}

footer {
	text-align: right;
	position: absolute;
	bottom: 2em;
	right: 2em;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
