*{margin:0;padding:0;box-sizing:border-box; border:2px solid #000;}
body {
	background: url(../images/homepage_image.jpg) no-repeat;
	background-size: cover;
	color: #262626;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-weight: 300;
	font-size: 58px;
	line-height: 1.15em;
}
p {
	font-size: 16px;
	line-height: 1.5em;
}
nav {
	padding:1em;
}
nav ul {
	max-width:75em;
	margin:auto;
}
nav li {
	float:left;
	text-align:center;
	width:20%;
}
nav a {
	padding:2em;
}
#portfolio {
	font-weight: 700;
}
#splash {
	margin:1em auto 1em auto;
	width:450px;
}
footer {
	float: right;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
